@media (max-width:1000px) {

   #nav-bar .humburger {
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
}

#home .humburger i {
    position: absolute;
    inset: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    opacity: 0;
    transition: all 0.3s ease;
}

#home .humburger i.active {
    opacity: 1;
    transform: rotate(1turn);
}



#nav-bar {
    padding: 0 3rem;
}

#nav-bar ul {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}

#nav-bar ul.active {
    display: block;
}

#nav-bar ul li {
    margin: 20px 0;
    
    padding: 6px 0px 12px;
}
#nav-bar ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}
#nav-bar ul li a {
    margin: 0;
}

/* Dark Mode ul */
body.dark #nav-bar ul{
    background-color:var(--bg-secondary);
}

    #home .header-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10rem 2rem 0;
        gap: 2rem;

    }

    #home .header-content .btn {
        display: none;
    }

    #home::before {
        content: "";
        position: absolute;
        height: 80vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    #home .header-content .content-txt {
        z-index: 100;
    }

    #about .container .row {
        display: flex;
        flex-direction: column;


    }

    #about .container .row .content-txt {
        text-align: center;
        margin: auto;
    }

    #about .container .row .content-txt h3 {
        font-size: 24px;
        margin: 0 2rem;
    }

    #about .container .row .content-txt p {
        font-size: 12px;
        margin: 3rem 2rem;


    }

    #skills .container .big-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #skills .container .big-box img {
        width: 15%;
    }

    #home {
        height: 80vh;
    }
    #education .container .row,
    #projects .container .row{
        grid-template-columns: repeat(2, 1fr);
    }
    #testmonials .slider{
        max-width: 500px;
    }
}

@media (max-width:600px) {
    .container {
        padding: 1rem;
    }
    #nav-bar ul li 
    {
        text-align: center;
    }
    #about .container .row .content-txt p {
        padding: 0 2rem;
    }

    #about .container .row .content-txt .email p span {
        margin: 0 2rem;
    }

    #skills .container .big-box {
        grid-template-columns: repeat(2,1fr);
    }

    #skills .container .big-box img {
        width: 25%;
        margin: auto;
    }

    #skills .container .big-box .small-box:hover {
        transform: none;
    }

    #home .header-content .content-txt h1 {
        font-size: 40px;
    }

    #home .header-content .content-txt p:last-of-type {
        font-size: 16px;
    }

    #about .container .title h2 {
        font-size: 24px;
    }

    #about .container .row .content-txt h3 {
        font-size: 20px;
        line-height: 1.5;
    }

    #about .container .row .content-txt p {
        font-size: 14px;
    }

    #home .nav-bar {
        padding: 1.5rem 0rem;
    }

    #education .container .row {
        grid-template-columns: 1fr;
    }

    #projects .container .row {
        grid-template-columns: 1fr;
    }

    #projects .container .row .card:hover {
        transform: none;
    }

    #contact .container .row form button{
        width: 50%;
        margin: auto;
    }

    #testmonials .slider{
        max-width: 100%;
        padding: 0 1rem;
    }
    #testmonials .slider .slides .slide img {
        width: 100px;
        height: 100px;
    }
    #testmonials .slider .slides .slide .content p
    {
        font-size: 14px;
    }
    #testmonials .slider .prev,
    #testmonials .slider .next {
        position: static;
        margin: 1rem 15px 0;
    }
    #testmonials .slider .prev {
        left: auto;
    }
    #testmonials .slider .next {
        right: auto;
    }
    #footer footer .row {
        grid-template-columns: 1fr;
        text-align: center;
    }
    #footer footer .row .col h2, #footer footer .row .col-social h2{
        padding: 5px 0;
        display: inline-block;
        border-left:none; 
        border-bottom: 2px solid var(--green);
    }

    #footer footer .row .col-social a {
        margin: 10px;
    }
}